@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.leftContainer {
  width: 350px;
  height: 100vh;
  overflow: scroll;
  background-color: beige;
}

.profilImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.messageContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.nameText {
  font-family: "Crimson Text", serif;
  font-weight: 900;
}

.messageText {
  font-family: "Crimson Text", serif;
  font-weight: 300;
  color: rgb(90, 90, 90);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}

.timeText {
  font-family: "Crimson Text", serif;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 350px);
  height: 100vh;
}

.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  padding: 20px;
  overflow: scroll;
}

input[type="text"],
select {
  width: 90%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.buttonStyle {
  width: 10%;
}

/* Chat Bubble */

.chatContainer p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

.chatContainer p::before,
.chatContainer p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: blanchedalmond;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: blanchedalmond;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}
/* End ChatBubble */
