.dataTable tbody > tr.selected,
.dataTable tbody > tr > .selected {
  background-color: #ffe9dc;
}

.dataTable .group,
.dataTable .group:hover {
  background-color: #eee;
}

.dataTable.collapsed tr.parent {
  border-top: solid 2px rgb(36, 36, 36);
}

.dataTables_filter > label:after {
  pointer-events: none;
}
.datatable-header .search-trigger {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 100%;
}
.datatable-header > .dt-buttons {
  margin: 0;
}
.datatable-header > .dt-buttons > .dt-button {
  margin-bottom: 1rem;
}
.datatable-header > .dt-buttons > .dt-button-collection {
  margin-top: -1rem;
}
.fixedHeader-floating {
  z-index: 2;
}