{{ define "messages" }}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/messages.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link
      rel="icon"
      href="static/images/web_favicon.png"
      type="image/icon type"
    />

    <title>FAIRFAX | Messages</title>
  </head>

  <body>
    <div class="mainContainer">
      <div class="leftContainer">
        <div class="messageContainer">
          <div class="messageContent">
            <img
              class="profilImage"
              height="80px"
              width="80px"
              src="../static/images/index/sky1_purple.webp"
            />
            <div class="textContainer">
              <span class="nameText">John Doe</span>
              <span class="messageText"
                >message dokzodzjod ofejfepooj feofj eofj fjeof jeof ejof
              </span>
            </div>
          </div>
          <span class="timeText">12:45</span>
        </div>
      </div>
      <div class="rightContainer">
        <div class="chatContainer">
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
          <p class="from-them">
            It was loud. We just laid there and said &ldquo;is this an
            earthquake? I think this is an earthquake.&rdquo;
          </p>
          <p class="from-me">
            Like is this an earthquake just go back to sleep
          </p>
        </div>
        <div class="inputContainer">
          <input
            type="text"
            id="fname"
            name="firstname"
            placeholder="Message..."
          />
          <button class="buttonStyle">
            <span>Envoyer</span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>

{{ end }}
