{{define "moderation"}}

<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATION BDD</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/moderation.css">
    <link rel="stylesheet" type="text/css" href="static/lib/DataTables/datatables.min.css" />
</head>

<body style="width:100%">

    <div style="padding:100px;">
        <table id="tableAdmin"></table>  
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/moderation/aLotOfGetElement.js"></script>
    <script src="../static/js/moderation/outils.js"></script>
    <script src="../static/js/moderation/affichageDesPages.js"></script>
    <script src="../static/js/moderation/pageSystem.js"></script>
    <script src="../static/js/moderation/databaseCallViaPOSTrequest.js"></script>
    <script type="text/javascript" src="../static/lib/DataTables/datatables.min.js"></script>
</body>


</html>
{{end}}